.prac {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    /* align-items: end; */
    justify-content: space-between;
  }
  
  .dw-fix {
    padding: 10px;
  }
  
  .mul {
    color: white;
    padding: 10px;
    background-color: red;
    /* margin-bottom: 0%; */
    text-align: center;
    font-family: sans-serif;
    border-radius: 5px;
  }
  
  .content {
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .files {
    display: flex;
    justify-content: space-between;
  }
  #wholecontainer{
    /* From https://css.glass */
background-color: #fff;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
  }
  #wholepage{
    background-color: whitesmoke;
        background-image: url("background.png");

  }
 #h1{
    align-content: center;
 }
